# Virtual env
.venv

# Saved video chunks and full videos
video_chunks/
videos_full/
person_crops/
_tmp_crops/
1_person_crops
1_videos_full
person_crops_3
video_chunks_30s

# YOLO model artifact
*.pt

# State tracking for video combining
__video_combiner_state.json

# Test bounding box videos.
__test_bounding_boxes.mp4
__debug_tracked_video.mp4
composite.mp4

# Misc
old/
.DS_Store
__pycache__
grid_state.json
