[Unit]
Description=record for Man on the Street
After=default.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/%u/man_on_the_street
ExecStart=/home/%u/man_on_the_street/.venv/bin/python /home/%u/man_on_the_street/record.py
StandardOutput=journal
StandardError=journal
Environment="PATH=/home/%u/man_on_the_street/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=default.target
